
@{
    ViewBag.Title = "About";
}



<div class="container inner">
    <h2 class="section-title text-center">About Us</h2>
    <p class="lead text-center">
        Arts is a stationary shop that sells arts, gift articles, greeting cards, dolls, files, hand bags,
        wallets, and as well some of the beauty products.

    </p>


</div>

<!-- /.container -->
<div class="container inner">
    <h2 class="section-title text-center">Our Vision</h2>
    <p class="lead text-center">
        Arts was born with the ambition to create a major breakthrough in the field of stationary shop in Vietnam, contributing to expressing the aspirations of company as a pioneer and leader in all areas of the economy of Vietnam. country.
        Arts aims to become the number one retail system in Vietnam, reaching out to regional and world markets.


    </p>

    <!-- /.row -->
</div>

<div class="container inner">
    <h2 class="section-title text-center">Our Mission</h2>
    <p class="lead text-center">
        The mission of Arts is to bring e-commerce to all customers, from the most popular classes, less interested in technology. Since then, Arts will gradually build a convenient and civilized consumer culture for Vietnamese people.

        Arts also creates opportunities for retail businesses and Domestic Manufacturers to expand their markets, to have a healthy and efficient development environment. Also on this system, Arts brings consumers high quality products, services, promotion and development of e-commerce and retail industry in Vietnam. This is an important part of creating a strong motivation to develop the economy, thereby contributing to the prosperity of the country.


    </p>

    <!-- /.row -->

</div>

