
@{
    ViewBag.Title = "listprodut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "List Product Page";
}

<main>
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="tcl-col-9">
                <div class="wrapper-content">
                    <ul class="breadcrumb">
                        <li><a href="./">Trang Chủ</a></li>
                        <li><a href="./">Danh sách sản phẩm</a></li>
                        <li><a href="./">Tủ nấu cơm gas</a></li>
                    </ul>
                    <div class="content-header">
                        <h1 class="title">Tủ nấu cơm Gas</h1>
                        <p class="sub-title">Tủ nấu cơm gas mới đạt nhiều tiêu chuẩn chất lượng. Là dòng tủ nấu cơm công nghiệp tiết kiệm đến 25% gas so với tủ nấu cơm thông thường.</p>
                    </div>

                    <!-- Học Javascript custom giao diện của select box -->
                    <div class="select-box">
                        <form action="">
                            <select name="sort">
                                <option value="">Thứ tự mặc định</option>
                                <option value="1">Giá tăng dần</option>
                                <option value="2">Giá giảm dần</option>
                                <option value="3">Giá giảm dần</option>
                            </select>
                        </form>
                    </div>

                    <div class="list-product row tcl-column-4">
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-com-dien-cong-nghiep-vinaki.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-com-dien-1-canh-changhe-500x500.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-nau-com-cong-nghiep-100kg-su-dung-dien.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-nau-com-cong-nghiep-24-khay-gas-va-dien-tcgd-24.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>

                        <!-- Row 2 -->
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-com-dien-cong-nghiep-vinaki.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-com-dien-1-canh-changhe-500x500.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-nau-com-cong-nghiep-100kg-su-dung-dien.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-nau-com-cong-nghiep-24-khay-gas-va-dien-tcgd-24.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>

                        <!-- Row 3 -->
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-com-dien-cong-nghiep-vinaki.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-com-dien-1-canh-changhe-500x500.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-nau-com-cong-nghiep-100kg-su-dung-dien.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-nau-com-cong-nghiep-24-khay-gas-va-dien-tcgd-24.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>

                        <!-- Row 4 -->
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-com-dien-cong-nghiep-vinaki.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-com-dien-1-canh-changhe-500x500.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-nau-com-cong-nghiep-100kg-su-dung-dien.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product">
                                <a class="img" href="#"><img src="~/Assets/images/tu-nau-com-cong-nghiep-24-khay-gas-va-dien-tcgd-24.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="tcl-col-3">
                <aside id="sidebar">
                    <!-- Widget Support -->
                    <div class="widgets widget-support style-02">
                        <div class="widget-title">Hỗ trợ trực tuyến</div>
                        <div class="widget-content">
                            <ul>
                                <li>
                                    <div class="left"><i class="icons fas fa-phone-square"></i><span>Hotline:</span></div>
                                    <div class="right">0962 150 326</div>
                                </li>
                                <li>
                                    <div class="left"><i class="icons fas fa-phone-square"></i><span>Chăm sóc KH:</span></div>
                                    <div class="right">0962 150 326</div>
                                </li>
                                <li>
                                    <div class="left"><i class="icons fas fa-phone-square"></i><span>Ý kiến KH:</span></div>
                                    <div class="right">0962 150 326</div>
                                </li>
                                <li>
                                    <div class="left"><i class="icons fas fa-phone-square"></i><span>Kinh doanh:</span></div>
                                    <div class="right"><img src="images/icon-skype.png" alt="skype"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                     <div class="widgets widget-product-test style-02">
                        <div class="widget-title">Sản phẩm gần đây</div>
                        <div class="widget-content">
                            <div class="product">
                                <a class="img" href="#"><img src="images/tu-com-dien-cong-nghiep-vinaki.jpg" alt="product"></a>
                                <h1><a href="#">Tủ cơm công nghiệp 12 khay gas AnhTrang</a></h1>
                            </div>
                        </div>
                    </div> 
                    <!-- Widget -->
                    <div class="widgets widget-category2 style-02">
                        <div class="widget-title">Hỗ trợ trực tuyến</div>
                        <div class="widget-content">
                            <ul>
                                <li><i class="icons fas fa-angle-double-right"></i><a href="#">Hướng dẫn sử dụng</a></li>
                                <li><i class="icons fas fa-angle-double-right"></i><a href="#">Khách hàng của chúng tôi</a></li>
                                <li><i class="icons fas fa-angle-double-right"></i><a href="#">Món ngon dễ làm</a></li>
                                <li><i class="icons fas fa-angle-double-right"></i><a href="#">Thiết bị nhà bếp</a></li>
                                <li><i class="icons fas fa-angle-double-right"></i><a href="#">Tin tức tổng hợp</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget -->
                    <div class="widgets widget-category style-02">
                        <div class="widget-title">Bài viết gần đây</div>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">Bạn không thể tìm thấy một địa chỉ nào cung cấp tủ nấu cơm chất lượng hơn bếp 36</a></li>
                                <li><a href="#">Một chiếc tủ nấu cơm như thế nào được coi là hoàn thiện</a></li>
                                <li><a href="#">Thước đo chuẩn về chất lượng của thiết bị tủ nấu cơm</a></li>
                                <li><a href="#">Sản phẩm tủ nấu cơm đang được xuất hiện rất nhiều trên những phương tiện truyền thông</a></li>
                                <li><a href="#">Bếp 36 đã hợp tác cùng chuyên gia nước ngoài để sản xuất tủ nấu cơm</a></li>
                                <li><a href="#">Tất cả các sản phẩm tủ nấu cơm do bếp 36 sản xuất đều đạt chất lượng chuẩn quốc tế</a></li>
                                <li><a href="#">Vấn đề mà khách hàng quan tâm nhất về sản phẩm tủ nấu cơm đó chính là thương hiệu</a></li>
                                <li><a href="#">Đâu là yếu tố quyết định sự thành công của tủ nấu cơm</a></li>
                                <li><a href="#">Có tủ nấu cơm sẽ đem lại sức mạnh vượt trội cho nhà hàng của bạn</a></li>
                                <li><a href="#">Đánh giá độ bền của sản phẩm thông qua chất liệu làm tủ nấu cơm</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Widget Facebook -->
                    <div class="widgets widget-fanpage style-02">
                        <div class="widget-title">Theo dõi facebook</div>
                        <div class="widget-content">
                            <!-- Doan code cua facebook -->
                            <div class="fb-page" data-href="https://www.facebook.com/HocLapTrinhWebTrenProjectsThucTe/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/HocLapTrinhWebTrenProjectsThucTe/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/HocLapTrinhWebTrenProjectsThucTe/">Học Lập Trình Web Thông Qua Projects Thực Tế</a></blockquote></div>
                        </div>
                    </div>
                    <!-- Widget Blog List  -->
                    <div class="widgets widget-blogs style-02">
                        <div class="widget-title">Bài viết gần đây</div>
                        <div class="widget-content">
                            <div class="post-block">
                                <div class="block-content">
                                    <div class="image"><img src="images/tu-com-dien-cong-nghiep-vinaki.jpg" alt=""></div>
                                    <h2 class="title"><a href="#">Khách sạn Duy Tân dùng tủ nấu cơm công nghiệp</a></h2>
                                </div>
                                <p class="des">Tủ nấu cơm là thiết bị thông dụng, được sử dụng phổ biến ở hệ thống nhà hàng, trường học...</p>
                            </div>
                            <div class="post-block">
                                <div class="block-content">
                                    <div class="image"><img src="images/tu-com-dien-cong-nghiep-vinaki.jpg" alt=""></div>
                                    <h2 class="title"><a href="#">Khách sạn Duy Tân dùng tủ nấu cơm công nghiệp</a></h2>
                                </div>
                                <p class="des">Tủ nấu cơm là thiết bị thông dụng, được sử dụng phổ biến ở hệ thống nhà hàng, trường học...</p>
                            </div>
                            <div class="post-block">
                                <div class="block-content">
                                    <div class="image"><img src="images/tu-com-dien-cong-nghiep-vinaki.jpg" alt=""></div>
                                    <h2 class="title"><a href="#">Khách sạn Duy Tân dùng tủ nấu cơm công nghiệp</a></h2>
                                </div>
                                <p class="des">Tủ nấu cơm là thiết bị thông dụng, được sử dụng phổ biến ở hệ thống nhà hàng, trường học...</p>
                            </div>
                            <div class="post-block">
                                <div class="block-content">
                                    <div class="image"><img src="images/tu-com-dien-cong-nghiep-vinaki.jpg" alt=""></div>
                                    <h2 class="title"><a href="#">Khách sạn Duy Tân dùng tủ nấu cơm công nghiệp</a></h2>
                                </div>
                                <p class="des">Tủ nấu cơm là thiết bị thông dụng, được sử dụng phổ biến ở hệ thống nhà hàng, trường học...</p>
                            </div>
                            <div class="post-block">
                                <div class="block-content">
                                    <div class="image"><img src="images/tu-com-dien-cong-nghiep-vinaki.jpg" alt=""></div>
                                    <h2 class="title"><a href="#">Khách sạn Duy Tân dùng tủ nấu cơm công nghiệp</a></h2>
                                </div>
                                <p class="des">Tủ nấu cơm là thiết bị thông dụng, được sử dụng phổ biến ở hệ thống nhà hàng, trường học...</p>
                            </div>
                            <div class="post-block">
                                <div class="block-content">
                                    <div class="image"><img src="images/tu-com-dien-cong-nghiep-vinaki.jpg" alt=""></div>
                                    <h2 class="title"><a href="#">Khách sạn Duy Tân dùng tủ nấu cơm công nghiệp</a></h2>
                                </div>
                                <p class="des">Tủ nấu cơm là thiết bị thông dụng, được sử dụng phổ biến ở hệ thống nhà hàng, trường học...</p>
                            </div>
                            <div class="post-block">
                                <div class="block-content">
                                    <div class="image"><img src="images/tu-com-dien-cong-nghiep-vinaki.jpg" alt=""></div>
                                    <h2 class="title"><a href="#">Khách sạn Duy Tân dùng tủ nấu cơm công nghiệp</a></h2>
                                </div>
                                <p class="des">Tủ nấu cơm là thiết bị thông dụng, được sử dụng phổ biến ở hệ thống nhà hàng, trường học...</p>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</main>
