
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "EmployeeDash", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Change Password</h3>
                <p class="card-description"></p>
                <form class="form-sample">
                    <div class="form-group">
                        <label>Current Password: </label>
                        @Html.Password("oldpass", "", new { @class = "form-control col-md-4" })
                    </div>

                    <div class="form-group">
                        <label>New Password: </label>
                        @Html.Password("newpass", "", new { @class = "form-control col-md-4" })
                    </div>
                    <input type="submit" value="Change now" class="btn btn-primary mr-2" />
                </form>
            </div>
        </div>
    </div>
}