<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #chart_container{
            width: 400px;
            height:400px;
            padding: 1px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div id="chart_container">
        <canvas id="bar_chart"></canvas>
    </div>
</body>
</html>
<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>